<template id="unit-list">
    <div>
        {{ state.data.err }}

        <label for="searchString">Search string</label>
        <input name="searchString" @keyup="search" v-model="searchString" autofocus></input>
        <label for="userOnly">User connection?</label>
        <input name="userOnly" type="checkbox" @change="search" v-model="isUserSearch"></input>

        <table>
            <thead>
                <tr>
                    <td width="5%">Status</td>
                    <td width="20%">Name</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
            <tr v-for="unit in state.data.units">
                <td> {{unit.ActiveState}} </td>
                <td> {{unit.Name}} </td>
                <td> {{unit.Description}} </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<div id="app">
    <unit-list :state="systemState"></unit-list>
</div>
